@charset "UTF-8";

@font-face {
    font-family: meulogo;
    src: url('../fontes/comforter-regular.ttf') format('truetype');
}








.meulogo {
    font-family: meulogo, monospace;
    font-size: 1.5em;
}