@charset "UTF-8";

body{
    background-color: lightgray;
}

.title h1, .title h2 {
    background-color: aqua;
    text-align: center;
    margin: 0;
    padding: 0;
}

.box{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 0;

}

.botao{
    border-radius: 50px;
    background-color: rgb(3, 233, 61);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}