@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS */

/* Typical Devices Brakepoint
Pequenas telas  320px — 480px
Celular: 480px - 768px
Tablet 769px - 992
NoteBook+DESK: 993 - 1200
Grandes telas 1200px - .....
*/

@media print {
    * {
        font: normal 1em 'Courier new', Courier, monospace;
    }

    main {
        border: 2px solid black;
        border-radius: 10px;
    }

    h1 {
        font-size: 2.5em;
        color: black;
        text-shadow: none;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* DESNECESSARIO NÃO IMPRIME BACKGROUND */        
    }

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: block;}
    #pc { display: none;}
    #tv { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLETS*/
    body {
        background-image: url(../imagens/back-tablet.jpg);        
    }

    #phone { display: none;}
    #tablet { display: block;}
    #print { display: none;}
    #pc { display: none;}
    #tv { display: none;}
    
}

@media screen and (min-width: 993px) and (max-width: 1700px) { /*NOTEBOOK+DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: none;}
    #pc { display: block;}
    #tv { display: none;}

}

@media screen and (min-width: 1701px) { /*GRANDES TELAS*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: none;}
    #pc { display: none;}
    #tv { display: block;}

}
